Package          Version 
---------------- --------
attrs            19.1.0  
autopep8         1.4.4   
certifi          2019.3.9
chardet          3.0.4   
Click            7.0     
curser           1.0.1   
decorator        4.4.0   
Flask            1.0.2   
Flask-Session    0.3.1   
Flask-SQLAlchemy 2.4.0   
idna             2.8     
ipython-genutils 0.2.0   
itsdangerous     1.1.0   
Jinja2           2.10.1  
jsonschema       3.0.1   
jupyter-core     4.4.0   
MarkupSafe       1.1.1   
nbformat         4.4.0   
passlib          1.7.1   
pip              19.1.1  
plotly           3.9.0   
pycodestyle      2.5.0   
pyrsistent       0.15.2  
pytz             2019.1  
requests         2.22.0  
retrying         1.3.3   
setuptools       41.0.1  
six              1.12.0  
SQLAlchemy       1.3.3   
traitlets        4.3.2   
urllib3          1.25.2  
Werkzeug         0.15.4  
wheel            0.33.4  
